---
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"posts">[];
  className?: string;
};

const { posts, className } = Astro.props;
---

<div class={className}>
  {
    posts.map((post) => (
      <article class="border-border border-b py-8 first:pt-0">
        <h2 class="text-h4 mb-2">
          <a href={`/blog/${post.id}`} class="transition hover:text-primary">
            {post.data.title}
          </a>
        </h2>
        <div class="text-text-light mb-3 flex flex-wrap items-center gap-x-2">
          {post.data.date && (
            <span>{dateFormat(post.data.date, "yyyy.MM.dd")}</span>
          )}
          {post.data.categories?.length > 0 && (
            <>
              <span>·</span>
              <span class="space-x-1">
                {post.data.categories.map((category, i) => (
                  <a
                    href={`/categories/${slugify(category)}`}
                    class="hover:text-primary"
                  >
                    {humanize(category)}
                    {i !== post.data.categories.length - 1 && ","}
                  </a>
                ))}
              </span>
            </>
          )}
        </div>
        <p class="text-text line-clamp-2">{plainify(post.body ?? "")}</p>
      </article>
    ))
  }
</div>
